git
.git
.gitignore
.env
.env.local
.DS_Store
*.log
.vscode
.idea
.swp
.swo
*~
README.md
docker-compose.yml
.dockerignore
Dockerfile
.eslintrc.cjs
vite.config.ts
tsconfig.json
tsconfig.node.json
tailwind.config.js
postcss.config.js
